[submodule "frontend/libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/notaz/libpicofe.git
[submodule "deps/lightning/gnulib"]
	active = false
	path = deps/lightning/gnulib
	url = git@github.com:coreutils/gnulib.git
